/*
* @Author: ananayarora
* @Date:   2017-02-11 13:07:55
* @Last Modified by:   ananayarora
* @Last Modified time: 2017-02-11 13:11:44
*/

@import url('https://fonts.googleapis.com/css?family=Lato:100,300');

* {
	margin:0;
	padding:0;
}

body {
	overflow-x:hidden;
}

.header {
	padding:20px;
	background:#333;
}

h1 {
	font-family: "Lato","Helvetica Neue","Segoe Ui","Arial","sans-serif";
	color:#fff;
	font-weight: 300;
}
